<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--数据库名称-->
    <add key="DbName" value="BS_SB0_1970"/>
    <!--数据库连接字符串 Server=数据库IP地址 UserName=数据库连接用户名 Password=数据库连接密码-->
    <add key="SAPConnectionString" value="Server = 10.8.14.50:30015; UserName = CBICARUSER; Password = CBICar18"/>
  </appSettings>
</configuration>
