<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--<add key="DSNName" value="cErq4I1fq6pdAqI0OlbFQKOAf6shiAgIo1f47//HipMyyeLaFnlmOzl7bqmxb4xaEJx9hN93CNPNgHf5i2yCmknd5cFfUcSZfyClMnwWstYR3Bs/GW8IP0PGiVZ8AcXJL3a0VuQlfEwFIaW1mjq9dpr2oYEUBXDlijLFS2okuTQ=" />
    <add key="Uid" value="er/WZ+Dmm4N5IlgeCj3NprYlffh9nj28037TABqFkx2DOPgfr/rej6EXpk9kr3EOwUbtS9jNg0Bd9EOqsogAlCUFDGttciE4xtKy/Xi5DUYUEKw53bKaaMRLuROvJ1T1073uhXDILSfJmZ8POFc2bKAvUapwa0Na2jtuqKo+n5g=" />
    <add key="Pwd" value="ELMznpJUxPB8Ph/LEW5zZCeqzQQ1+j3fXoSNvAoGeXJxFAofCBA+s7Ty8ml43AaBo3Ak2bIQyGWDPkN+/KLiWH12YJw6179h/ZAa2MTxp8pju3J0b9RZ18D/YCeqRrXJZ+dUSY8+sa4qrnsk4pJitj8keM54uQxFPNsBLsn5Q1A=" />-->
    <add key="DSNName" value="INVOICE2" />
    <add key="Uid" value="SYSTEM" />
    <add key="Pwd" value="manager" />
    <add key="SAPConnectionString" value="X1l6F51K7ApidCfKZ2wMJt1YdWb0qQZklfXnOEuGqq1Sr2f84o2d3Vk57xsH8pu69QmOPcwIiPfKlVY8KNHFoA=="/>
  </appSettings>
</configuration>
